
<div class="nav-container">
    <nav class="navigation">
        <ul>
            <li>$<%= broker.netWorth %></li>
            <li>$<%= broker.liquidCash %></li>
            <li><a href="/">Loan</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
</div>
<br>
<h2 class="title">Welcome <%=broker.username%></h2>
<br>
<div class="searchContainer">
    <form action="/home/new" method="POST">
        <input id="stockName" class="stockSearchBar" type="text" placeholder="Search Stock"name="stockName" required>
        <input id="moneySpent" type="number" name="moneySpent" placeholder="Dollar Amount" required min="0" max="<%=broker.liquidCash%>">
        <button type="submit" class="stockSearchButton">search</button>
    </form>
</div>
<div class="stockContainer">
    <% stocks.forEach(stock=>{%> 
        <div class="stockInstance">
            <ul id="stockList" class="stockList">
                <li class="stockSymbol"><%= stock.symbol %></li>
                <li id="<%=stock.symbol%>" ></li>
                <li>Bought At: <%= stock.price %></li>
                <li>Invested: <%= stock.money %></li>
                <li id="live<%=stock.symbol%>"></li>
            </ul>
            <form method="POST" action="/home/delete/<%= stock.id %>?_method=DELETE">
                <button type="submit" class="sell">Sell</button>
            </form>
        </div>
    <%})%> 
</div>

