

<nav>
    <ul>
        <li>$<%= broker.netWorth %></li>
        <li>$<%= broker.liquidCash %></li>
        <li><a href="/">Loan</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>
<br>
<h2>Welcome <%=broker.username%></h2>
<br>
<form action="/home/new" method="POST">
    <label>Stock Name</label>
    <input id="stockName" type="text" name="stockName" required>
    <button type="submit">button</button>
</form>
<% stocks.forEach(stock=>{%> 
    <div id="stockInstance">
        <ul>
            <li>Stock: <%= stock.stockName %></li>
            <li>Price: <%= stock.sharePrice %></li>
        </ul>
        <form method="POST" action="/home/delete/<%= stock.id %>?_method=DELETE">
            <button type="submit">Sell</button>
        </form>
    </div>
<%})%> 
